.selected {
    background-color: lightskyblue !important;
}

.mat-flat-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .presets-container {
        padding: 20px;
    }


    .presets {
      
    }

    .preset {
        button {
            height: 70%;
            max-height: 50px;
            width: 80%;
            white-space: normal;
            background-color: #0044b3;
            color: white;
            border-radius: 15px;
            justify-content: center;
            text-align: center;
            font-size: 1em;
        }
    }

    .confirm-cancel {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-evenly;
        .button-wrapper {
            display: flex;
            justify-content: space-evenly;
            button {
                white-space: normal;
                justify-content: center;
                text-align: center;
                font-size: 1em;
            }
        
            .cancel {
                background-color: rgb(190, 0, 0);
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .presets-container {
    }

    .presets {
        width: 100%;
        height: 100%;
    }

    .preset {
        button {
            height: 90%;
            width: 90%;
            color: white;
            white-space: normal;
            background-color: #0044b3;
            border-radius: 15px;
            justify-content: center;
            text-align: center;
            font-size: (max 2vh, 2vw);
        }
    }

    .confirm-cancel {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
        margin-top: 15px;
        .button-wrapper {
            display: flex;
            justify-content: space-evenly;
            button {
                white-space: normal;
                justify-content: center;
                text-align: center;
                font-size: (max 2vh, 2vw);
            }
        
            .cancel {
                background-color: rgb(190, 0, 0);
                color: white;
            }
        }
    }
}