<div class="column" (click)=_focus()>
  <ng-container>
    <img src="../assets/logo.svg" class="logo" />
    <span style="margin-top: 5%;">Enter Control Key:</span>
    <mat-form-field >
        <input #form matInput class="input-field" inputmode="numeric" [(ngModel)]="key" maxlength="6" (keyup.enter)="goToCameraControl()" autocomplete="off"/>
        <div class="room-code">
            <div *ngIf="key?.length == 0 && hasFocus()" class="code-char-selected">{{ key[0] ? key[0] : " " }}</div>
            <div *ngIf="key?.length != 0 || !hasFocus()" class="code-char">{{ key[0] ? key[0] : " " }}</div>
            <div *ngIf="key?.length == 1 && hasFocus()" class="code-char-selected">{{ key[1] ? key[1] : " " }}</div>
            <div *ngIf="key?.length != 1 || !hasFocus()" class="code-char">{{ key[1] ? key[1] : " " }}</div>
            <div *ngIf="key?.length == 2 && hasFocus()" class="code-char-selected">{{ key[2] ? key[2] : " " }}</div>
            <div *ngIf="key?.length != 2 || !hasFocus()" class="code-char">{{ key[2] ? key[2] : " " }}</div>
            <div *ngIf="key?.length == 3 && hasFocus()" class="code-char-selected">{{ key[3] ? key[3] : " " }}</div>
            <div *ngIf="key?.length != 3 || !hasFocus()" class="code-char">{{ key[3] ? key[3] : " " }}</div>
            <div *ngIf="key?.length == 4 && hasFocus()" class="code-char-selected">{{ key[4] ? key[4] : " " }}</div>
            <div *ngIf="key?.length != 4 || !hasFocus()" class="code-char">{{ key[4] ? key[4] : " " }}</div>
            <div *ngIf="key?.length == 5 && hasFocus()" class="code-char-selected">{{ key[5] ? key[5] : " " }}</div>
            <div *ngIf="key?.length != 5 || !hasFocus()" class="code-char">{{ key[5] ? key[5] : " " }}</div>
        </div>
    </mat-form-field>
  
    <button mat-stroked-button color="primary" class="sign-in" [disableRipple]="true" (click)="goToCameraControl()">
      Enter
    </button>
  </ng-container>
</div>