<div style="justify-content: center;">
  <mat-tab-group>
    <!-- tabs of cameras -->
    <mat-tab id="tab" *ngFor="let cam of cameras" [label]="cam?.displayName" style="height: 100%;">
      <div class="body-container" (pointercancel)="panTiltStop(cam); zoomStop(cam)" (pointerup)="panTiltStop(cam); zoomStop(cam)">
        <div class="outer-container">
          <div class="controls-container">
            <h2>Cam Controls</h2>
            <mat-divider class="divider"></mat-divider>

            <div class="movement-container">
              <div class="d-pad-container">
                <nav class="d-pad">
                  <a class="up" (pointerdown)="tiltUp(cam)" (pointerup)="panTiltStop(cam)"></a>
                  <a class="right" (pointerdown)="panRight(cam)" (pointerup)="panTiltStop(cam)"></a>
                  <a class="down" (pointerdown)="tiltDown(cam)" (pointerup)="panTiltStop(cam)"></a>
                  <a class="left" (pointerdown)="panLeft(cam)" (pointerup)="panTiltStop(cam)"></a>
                </nav>
              </div>
  
              <div class="zoom">
                <button mat-flat-button (pointerdown)="zoomIn(cam)" (pointerup)="zoomStop(cam)">
                  <mat-icon>zoom_in</mat-icon>
                  <div>In</div>
                </button>
  
                <button mat-flat-button (pointerdown)="zoomOut(cam)" (pointerup)="zoomStop(cam)">
                  <mat-icon>zoom_out</mat-icon>
                  <div>Out</div>
                </button>
              </div>
            </div>
          </div>
          

          <div class="presets-container">
            <h2>Presets</h2>

            <mat-divider class="divider"></mat-divider>

            <mat-grid-list class="presets" cols="2" [rowHeight]="rowHeight">
              <mat-grid-tile *ngFor="let preset of cam?.presets" class="preset">
                <button mat-flat-button (click)="selectPreset(preset)">{{preset?.displayName}}</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div *ngIf="admin" class="special-buttons">
            <div *ngIf="cam?.reboot != undefined" class="button-wrapper">
              <button mat-flat-button (click)=openRebootDialog(cam)>Reboot</button>
            </div>
            <div *ngIf="checkSavePreset(cam)" class="button-wrapper">
              <button mat-flat-button (click)="openPresetsDialog(cam)">Set Preset</button>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>