<mat-toolbar>
	<mat-icon>camera</mat-icon>
	<span style="margin-left: .5vw">Spyglass</span>
</mat-toolbar>

<div class="body">
	<mat-vertical-stepper linear #stepper (selectionChange)="formStep($event)" class="stepper">
		<mat-step [stepControl]="firstFormGroup">
			<form [formGroup]="firstFormGroup">
				<ng-template matStepLabel>Pick a room</ng-template>

				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Room</mat-label>
					<input type="text" matInput formControlName="room" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let opt of filteredRooms | async" [value]="opt">
							{{opt}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="firstFormGroup.controls.room.errors?.invalidRoom">Invalid room</mat-error>
				</mat-form-field>

				<div>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>

		<mat-step [stepControl]="secondFormGroup">
			<form [formGroup]="secondFormGroup">
				<ng-template matStepLabel>Pick a control group</ng-template>

				<mat-action-list class="controlGroups">
					<button *ngFor="let opt of controlGroups" mat-list-item (click)="selectControlGroup(opt)">
						<span>{{opt}}</span>
						<span class="spacer"></span>
						<mat-icon>chevron_right</mat-icon>
					</button>
				</mat-action-list>

				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</form>
		</mat-step>
	</mat-vertical-stepper>
</div>
